This is the system {{ ansible_facts['fqdn'] }}.
This is a {{ ansible_facts['distribution'] }} version {{ ansible_facts['distribution_version'] }} system.
Welcome to Ansible Class.
Any doubts or Query please contact: {{ system_owner }}.
